.docker/
.editorconfig
.htaccess
.htaccess.sample
.magento.env.md
.php-cs-fixer.dist.php
.user.ini
CHANGELOG.md
COPYING.txt
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
LICENSE_EE.txt
README_EE.md
SECURITY.md
app/.htaccess
app/autoload.php
app/bootstrap.php
app/code/Magento/Test*
app/etc/NonComposerComponentRegistration.php
app/etc/db_schema.xml
app/etc/di.xml
app/etc/env.php
app/etc/registration_globlist.php
app/etc/vendor_path.php
auth.json.sample
bin/
dev/
docker-sync.yml
generated/
grunt-config.json.sample
lib/
m2-hotfixes/
magento-vars.php
mutagen.sh
nginx.conf.sample
op-exclude.txt
package.json.sample
php.dev.ini
php.ini
phpserver/
pub/
setup/
var/
vendor/
app/code/Magento/
